body {
    background-color: #02141f;
    font-family: sans-serif;
}

.card {
    position: fixed;
    margin: auto;
    inset: 0;
    height: 470px;
    width: 100%;
    max-width: 303px;
    padding: 1rem;
    background-color: #062030;
    border-radius: 20px;
    box-shadow: 0px 5px 89px 8px #010114df;
}

img {
    height: 260px;
    width: 100%;
    border-radius: 7px;
}

.second_image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 0.7px solid white;

}

h2 {
    color: #d1cfcf;
}

.second_image {
    display: inline;
}


p {
    color: #cfd7deb5;
}

span {
    color: rgb(212, 212, 212);
}